footer {
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
    font-size: .875rem;
    color: var(--secondary-font-color);
    background-color: var(--primary-bg-color);
}

footer a {
    font-weight: 700;
}